@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 80% 99%; /* Lighter Beige */
    --foreground: 20 14% 10%; /* Dark Brown */
    --card: 30 80% 99%;
    --card-foreground: 20 14% 10%;
    --popover: 30 80% 99%;
    --popover-foreground: 20 14% 10%;
    --primary: 351 45% 33%; /* Soft Burgundy */
    --primary-foreground: 14 70% 98%;
    --secondary: 14 60% 85%;
    --secondary-foreground: 20 14% 10%;
    --muted: 14 50% 92%;
    --muted-foreground: 0 0% 43%; /* Warm Gray */
    --accent: 115 13% 27%; /* Sage Green */
    --accent-foreground: 80 60% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 14 30% 80%;
    --input: 14 30% 84%;
    --ring: 351 45% 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14% 8%;
    --foreground: 30 80% 99%;
    --card: 20 14% 8%;
    --card-foreground: 30 80% 99%;
    --popover: 20 14% 8%;
    --popover-foreground: 30 80% 99%;
    --primary: 351 45% 33%;
    --primary-foreground: 14 70% 98%;
    --secondary: 20 14% 15%;
    --secondary-foreground: 30 80% 99%;
    --muted: 20 14% 15%;
    --muted-foreground: 0 0% 43%;
    --accent: 115 13% 27%;
    --accent-foreground: 80 60% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 20%;
    --input: 20 14% 20%;
    --ring: 351 45% 33%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.focus-gradient-border:focus-within {
  box-shadow: 0 0 0 2px hsl(var(--primary)), 0 0 0 4px hsl(var(--primary)) inset;
  border-color: transparent; /* Hide original border */
}

.hover-glow:hover {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1); /* Subtle inner white glow */
}


